TOKEN="<discord token>"
PREFIX=<discord command prefix, defaults to 'eyes:'>
TIME_LIMITS="role_id:timelimit,other_roleid:timelimit"
DEFAULT_TIME_LIMIT=timelimit # -1 for infinite
ARCHIVER_PATH=/home/streamer/archiver/node/preserve.js
