TOKEN="<discord token>"
PREFIX=<discord command prefix, defaults to 'eyes:'>
TIME_LIMITS="role_id:timelimit,other_roleid:timelimit"
DEFAULT_TIME_LIMIT=timelimit # -1 for infinite
ARCHIVES_URL="http://example.com/recordings/"
ARCHIVES_PATH="/archives/"
