BLASEBALL_SESSION=<session cookie> # blaseball session cookie
LOG_LEVEL=<info,debug,etc> # log level
PRETTY_LOGS=<1 | 0> # pretty logs?
HEADLESS=<1 | 0> # whether to run chrome without a window or not
                 # note: running it non-headlessly can cause it to crash after a few seconds. only use for debugging
