    .Main-Body {
        padding: 0 2.5%;
        margin: 0;
    }
    .GameWidget {
        flex: 0 1 24%;
        padding: 0;
        margin: 2px;
    }
    .GameWidget-Full-Live,
    .GameWidget-Full-Upcoming {
        display: flex;
    }
    .GameWidget > *:first-child {
        flex-grow: 0;
    }
    .GameWidget > *:last-child {
        flex-grow: 0;
    }
    .GameWidget > *:not(:first-child):not(:last-child) {
        flex-grow: 1;
    }
    .GameWidget-Outcome {
        justify-content: center;
    }
    .GameWidget-Outcome-Blurb {
        height: auto;
    }
    .Widget-ScoreBacking > *:last-child {
        direction: rtl;
    }
    .Widget-PlayerStatusIcon {
        height: 25px;
        width: 25px;
    }
    .Widget-Bases {
        margin: 0 auto;
    }
    .GameWidget-ScoreTeamColorBar,
    .GameWidget-ScoreNumber {
        width: 35px;
        height: 35px;
        font-size: 22px;
    }
    .GameWidget-ScoreNumber {
        margin: 0 auto;
    }
    .GameWidget-ScoreLine {
        padding: 0 10px;
        grid-template-columns: 45px auto 45px;
    }
    .GameWidget .GameWidget-ScoreTeamInfo {
        justify-content: space-evenly;
    }
    .GameWidget .GameWidget-WinChance {
        margin: 0;
    }
    .GameWidget-ScoreBet {
        font-size: 14px;
        direction: ltr;
    }
    .GameWidget-ScoreBet-Bet,
    .GameWidget-ScoreBet-Winnings {
        height: 18px;
    }
    .GameWidget-ScoreBet-Bet > svg {
        display: none;
    }
    .GameWidget-ScoreBet-Triangle {
        border-width: 9px 0 9px 9px;
    }
    .GameWidget .GameWidget-ScoreName {
        width: 0;
        height: 0;
        font-size: 0;
    }
    .theme-light .GameWidget .GameWidget-ScoreName {
        background: none !important;
    }
    .GameWidget-ScoreName .BlinkingRedLight {
        margin: 0
    }
    .Widget-ScoreBacking {
        flex-direction: row;
    }
    .GameWidget-ScoreBet,
    .GameWidget-ScoreNumber {
        direction: ltr;
    }
    /* recover activity count */
    .Widget-Log-Content {
        font-size: 0;
        height: 0;
        min-height: 0;
        margin-bottom: 0;
    }

    /* make shark work */
    .GameWidget > .Widget-Log {
        overflow: visible;
    }
    .Widget-Display-Body .Widget-AtBat,
    .Widget-Display-Body .Widget-Log {
        z-index: 1;
    }

    /* taken from media query, use this for full screen instead of just when under 1080 width */
    .Widget-Display-Visual {
        margin: 0;
        grid-row: 2/4;
        flex-direction: column;
        padding: 0 10px 10px;
        background: transparent
    }
    .Widget-Display-Visual-Max:after {
        top: auto;
        bottom: 5px;
        left: 7px;
        font-size: 11px
    }
    .Widget-Display-Body {
        padding: 0;
        width: 100%
    }
    .Widget-Display-Body .Widget-Bases {
        grid-column: 1/2;
        grid-row: 1/2
    }
    .Widget-Display-Body .Widget-Outs {
        grid-column: 1/2;
        grid-row: 2/3
    }
    .Widget-Display-Body .Widget-AtBat {
        grid-column: 2/3;
        grid-row: 1/2
    }
    .Widget-Display-Body .Widget-Log {
        display: block;
        min-height: 92px;
        padding: 5px 10px;
        grid-column: 2/3;
        grid-row: 2/3;
        font-size: 14px
    }
    .theme-dark .Widget-Display-Body .Widget-Log {
        background: rgba(30, 30, 30, .64)
    }
    .theme-light .Widget-Display-Body .Widget-Log {
        background: hsla(0, 0%, 89%, .71)
    }
    .Widget-Header {
        border-radius: 0
    }
    .Widget-Header-Wrapper {
        grid-column: 1/3
    }
    .Widget-ScoreBacking {
        padding: 10px 0
    }
    .Widget-ScoreLabel--Series + .GameWidget-ScoreLabel--Score {
        display: none
    }
    .Widget-AtBat {
        grid-column: 2/3;
        grid-row: 2/3
    }
    .Widget-Outs {
        justify-content: flex-start
    }
    .Widget-Outs-Label {
        font-size: 12px
    }
    .Widget-Outs-DotList {
        align-items: flex-start;
        height: 85%
    }
    .Widget-Outs-Dots {
        font-size: 24px;
        line-height: 14px
    }
    .Widget-Log {
        grid-column: 2/3;
        grid-row: 3/4
    }
    .Widget-Log-Line {
        margin: 0
    }
    .Widget-PlayerLine {
        justify-content: flex-start
    }
    .Widget-PlayerStatusLabel {
        display: none
    }
    .Widget-PlayerStatusIcon {
        display: block
    }
    .Widget-PlayerLineName {
        font-size: 14px;
        line-height: 16px;
        padding: 2px 0
    }
    .GameWidget {
        border-radius: 5px
    }
    .theme-dark .GameWidget {
        background: #0b0b0b
    }
    .theme-light .GameWidget {
        background: #f2f2f2
    }
    .GameWidget-Full-Live {
        grid-template-columns: 100%;
        grid-gap: 0;
        gap: 0
    }
    .GameWidget-Full-Upcoming {
        grid-template-columns: 40% auto;
        grid-gap: 0;
        gap: 0
    }
    .GameWidget-Upcoming-Info {
        grid-column: 1/3;
        margin-left: 0;
        background-color: transparent
    }
    .GameWidget-Upcoming-Odds {
        grid-template-columns: 100%
    }
    .GameWidget-Upcoming-OddsTeam {
        flex-direction: row;
        justify-content: space-around
    }
    .GameWidget-Upcoming-Favorites-Team {
        font-size: 16px
    }
    .GameWidget-Upcoming-Favorites-Percentage {
        font-size: 18px
    }
    .GameWidget-Upcoming-Full {
        grid-column: 1/3;
        grid-gap: 10px;
        gap: 10px;
        grid-template-columns: 100%
    }
    .GameWidget-Upcoming-Header {
        display: none
    }
    .GameWidget-Upcoming-Body {
        flex-direction: row;
        width: 60%;
        justify-content: flex-start;
        grid-template-columns: 62px calc(100% - 62px);
    }
    .GameWidget-Upcoming-Body .GameWidget-PlayerLine + .GameWidget-PlayerLine {
        margin-left: 10px
    }
    .GameWidget-Upcoming-Label {
        display: none
    }
    .GameWidget-Upcoming-Icon {
        display: block;
        margin-left: 20px
    }
    .GameWidget-Upcoming-Bets {
        background-color: rgba(30, 30, 30, .64);
        display: block;
        padding: 10px;
        grid-column: 1/3;
        border-radius: 0
    }
    .theme-dark .GameWidget-Upcoming-Bets {
        background: rgba(30, 30, 30, .64)
    }
    .theme-light .GameWidget-Upcoming-Bets {
        background: hsla(0, 0%, 89%, .71)
    }
    .GameWidget-Upcoming-BetButtons {
        margin-top: 10px;
        margin-bottom: 10px
    }
    .GameWidget-Outcome {
        grid-column: 1/3;
        background-color: rgba(30, 30, 30, .64);
        border-radius: 0
    }
    .theme-dark .GameWidget-Outcome {
        background: rgba(30, 30, 30, .64)
    }
    .theme-light .GameWidget-Outcome {
        background: hsla(0, 0%, 89%, .71)
    }
    .GameWidget.IsComplete .GameWidget-Log {
        display: none
    }
